.App {
  text-align: center;
}

#searchBar {
  text-align: center;
  position: fixed;
  top: 50%;
  font-size: 45px;
  font-weight: bold;
  border-bottom: 8px solid #fff570;
  margin-left: 0.3%;
}

#loadSkeleton {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* LINK HOVER */
a:link {
  color: #fff570;
}

a:visited {
  color: #fff570;
}

a:hover {
  color: #fff570;
}

.link {
  font-weight: 700;
  text-decoration: none !important;
}

/*
* Underlining of link
*/
.link {
  position: relative;
  z-index: 1;
  display: inline-flex;

  padding-left: 0px;
  padding-bottom: 3px;
  padding-right: 0px;
}

.link::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #fff570 15%, rgba(0, 0, 0, 0) 15%);
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;
  will-change: width;
  transform-origin: left bottom;
}

.link:hover::before {
  width: 0;
}

.link::before {
  transition: width 0.2s ease-out;
}

.link:hover::before {
  transition-duration: 0.2s;
}