.App {
  text-align: center;
  font-family: 'Space Mono', monospace;
}

#searchBar {
  text-align: center;
  position: fixed;
  top: 63%;
  font-size: 45px;
  font-weight: bold;
  border-bottom: 7px solid #fff570;
  left: 0.3%;
}

#searchBarContainer {
  height: 0;
}

#loadSkeleton {
  position: fixed;
  top: 35%;
  left: 44%;
}

/* LINK HOVER */
a:link {
  color: #fff570;
}

a:visited {
  color: #fff570;
}

a:hover {
  color: #fff570;
}

/*
* Underlining of link
*/
#linkWrapper {
  position: fixed;
  left: 0px;
  bottom: 2.4%;
  right: 0px;
  color: #fff570;
}

.link {
  position: relative;
  z-index: 1;

  padding-left: 0px;
  padding-bottom: 3px;
  padding-right: 0px;

  font-weight: 700;
  text-decoration: none !important;
  transition: opacity 0.2s ease-out;
  opacity: 0.5;
}

.link:hover {
  opacity: 1;
}